/* GLOBAL */
.bg_img {
  background-image: url('../../../public/img/tank_bg_big.jpg');
  color: rgb(255, 255, 255);
  padding: 0px;
  background-size: cover;
  background-position: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.home {

  font-family: Arial, sans-serif;
}

/* HEADER */
.home-header {
  width: 80%;
  margin: auto;
}

.tagline {
  color: #ad0000;
  font-style: italic;
  font-weight: 900;
}

.title {
  color: #032e5b;
  font-size: 2.1rem;
  font-weight: bold;

}

/* CONTENT */
.home-content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

/* LEFT */
.left-content {
  flex: 1;
}

.description {
  color: #404040;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: #404040;
  font-size: 1.2rem;
  /* margin: 1.5rem 0; */
  font-weight: 700;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.categories ul {
  list-style: none;
  padding: 0;
  border: 1px solid #00000020;
  width: 100%;
}

.categories li {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #00000020;
}

.categories li:last-child {
  border-bottom: none;
}

.categories a {
  text-decoration: none;
  color: #002776;
  font-weight: 500;
}

/* BUTTON */
.about-btn {
  background: #1a88f8;
  color: #fff;
  border: none;
  padding: .6rem 1.5rem;
  border-radius: 2px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
}

/* Pduct hover  */
.product_description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;


  background-image: linear-gradient(to top, #061b49af, #061b4971);

  transform: translateY(100%);
  opacity: 0;

  transition: transform 0.35s ease, opacity 0.35s ease;
}

.product_description button {
  border-radius: 2px;
}

.product-card:hover .product_description {
  transform: translateY(0);
  opacity: 1;
}

.product-card:hover .initial_product_name {
  visibility: hidden;
}

/* RIGHT IMAGE */
.right-image {
  /* flex: 1; */
}

.right-image img {
  width: 100%;
  height: auto;
}

#product_section_home {
  background-image: url('../../../public//img//product_bg.jpg');
}

/* ================= RESPONSIVE ================= */

/* TABLET */
@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }

  .right-image {
    display: none;
    /* IMAGE HIDDEN ON SMALL DEVICES */
  }

  .home-content {
    flex-direction: column;
  }

  .product_description h3 {
    font-size: 1.2rem;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .home-header,
  .home-content {
    width: 90%;
  }

  .product_description h3 {
    font-size: 10px;
  }

  .title {
    font-size: 1.5rem;
  }

  .categories {
    flex-direction: column;
  }

  .right-image {
    display: none;
    /* IMAGE HIDDEN ON SMALL DEVICES */
  }

  .description {
    font-size: 1rem;
  }

  .product_description {
    transform: translateY(0);
    opacity: 1;
  }

  .product_description p {
    font-size: 20px;

  }

  .product_description h3 {
    font-size: 23px;
    text-decoration: underline;
  }

  .initial_product_name {
    visibility: hidden;
  }

  #top_since h2 {
    font-size: 50px;
  }

  #top_since p {
    text-align: left;
  }

}

@media (max-width: 1000px) {
  #top_since h2 {
    font-size: 40px;
  }

  #top_since h1 {
    font-size: 40px;
  }

}

@media (max-width: 866px) {
  #top_since h2 {
    font-size: 30px;
  }

  #top_since h1 {
    font-size: 30px;
  }

  #top_since p {
    font-size: 15px;
  }

  #bottom_catagory p {
    font-size: 15px;
  }
}

@media (max-width: 622px) {
  #top_since h2 {
    font-size: 25px;
  }

  #top_since h1 {
    font-size: 25px;
    margin-top: 10px;
  }
}

@media (max-width: 515px) {
  #top_since h2 {
    font-size: 20px;
  }

  #top_since h1 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  #top_since {}
}