/* GLOBAL */
.home {
  background: #fff;
  padding: 5% 0;
  font-family: Arial, sans-serif;
}

/* HEADER */
.home-header {
  width: 80%;
  margin: auto;
}

.tagline {
  color: #ad0000;
  font-style: italic;
  font-weight: 900;
}

.title {
  color: #032e5b;
  font-size: 3rem;
  font-weight: bold;
}

/* CONTENT */
.home-content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}

/* LEFT */
.left-content {
  flex: 1;
}

.description {
  color: #404040;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: #404040;
  font-size: 1.8rem;
  margin: 1.5rem 0;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.categories ul {
  list-style: none;
  padding: 0;
  border: 1px solid #00000020;
  width: 100%;
}

.categories li {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #00000020;
}

.categories li:last-child {
  border-bottom: none;
}

.categories a {
  text-decoration: none;
  color: #002776;
  font-weight: 500;
}

/* BUTTON */
.about-btn {
  background: #1a88f8;
  color: #fff;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1rem;
}

/* RIGHT IMAGE */
.right-image {
  /* flex: 1; */
}

.right-image img {
  width: 100%;
  height: auto;
}

/* ================= RESPONSIVE ================= */

/* TABLET */
@media (max-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }

  .right-image {
    display: none;
    /* IMAGE HIDDEN ON SMALL DEVICES */
  }

  .home-content {
    flex-direction: column;
  }
}

/* MOBILE */
@media (max-width: 768px) {

  .home-header,
  .home-content {
    width: 90%;
  }

  .title {
    font-size: 2rem;
  }

  .categories {
    flex-direction: column;
  }

  .right-image {
    display: none;
    /* IMAGE HIDDEN ON SMALL DEVICES */
  }

  .description {
    font-size: 1rem;
  }
}