.carousel-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  font-family: Arial, sans-serif;
}

.carousel-container {
  position: relative;
  width: 100%;
  min-height: calc(-108px + 100vh);
  overflow: hidden;
}

/* Slides */
.carousel-slide {
  position: absolute;
  top: 0;
  left: 100%;
  /* start offscreen right */
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: 1;
}

/* Active slide comes from right to center */
.carousel-slide.active {
  left: 0;
  opacity: 1;
  z-index: 2;
}

/* Previous slide leaves to left */
.carousel-slide.prev {
  left: -100%;
  opacity: 0;
  z-index: 1;
}

/* Content overlay */
.carousel-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #fff;
  max-width: 820px;
  background: linear-gradient(93deg, rgb(0 39 118 / .1) 0%, #fff0 100%);
  padding: 10px 20px;
  border-radius: 10px;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 60%);
}

.carousel-content h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.carousel-content p {
  font-size: 18px;
  margin-bottom: 20px;
}

.carousel-content button {
  padding: 12px 26px;
  border: none;
  background: rgb(26, 136, 248);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

/* Round Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  border: 1px solid white;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition: background 0.3s;
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* Water / River Waves */
.wefewfe .wave {
  position: absolute;
  top: 85%;
  z-index: 100;
  width: 100%;
  height: 100px;
  background: url('../../public//slider//wave.jpg');
  background-size: 1000px 100px
}

.wefewfe .wave.wave1 {
  -webkit-animation: animate 20s linear infinite;
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: .6;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  bottom: 0
}

.wefewfe .wave.wave2 {
  -webkit-animation: animate2 10s linear infinite;
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: .5;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  bottom: 10px
}

.wefewfe .wave.wave3 {
  -webkit-animation: animate 20s linear infinite;
  animation: animate 15s linear infinite;
  z-index: 998;
  opacity: .2;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  bottom: 15px
}

.wefewfe .wave.wave4 {
  -webkit-animation: animate2 5s linear infinite;
  animation: animate2 4s linear infinite;
  z-index: 997;
  opacity: .7;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  bottom: 20px
}

@-webkit-keyframes animate {
  0% {
    background-position-x: 0
  }

  100% {
    background-position-x: 1000px
  }
}

@keyframes animate {
  0% {
    background-position-x: 0
  }

  100% {
    background-position-x: 1000px
  }
}

@keyframes animate2 {
  0% {
    background-position-x: 0
  }

  100% {
    background-position-x: -1000px
  }
}


/* Mobile */
@media (max-width: 768px) {
  .carousel-content {
    left: 15%;
    max-width: 100%;
  }

  .carousel-content h1 {
    font-size: 25px;
  }

  .product_description h3 {
    font-size: 3px;
  }




}

@media (max-width: 500px) {
  .carousel-container {
    min-height: calc(-108px + 60vh);
  }

  .carousel-content h1 {
    font-size: 20px;
    margin-bottom: 1px;
  }

  .carousel-content p {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .carousel-content button {
    padding: 8px 15px;
    border: none;
    background: rgb(26, 136, 248);
    color: #fff;
    font-size: 10px;
  }

}